body {
  font-family: 'Lato', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background: $black;
  background-color: $black;
  //ANTIALIASING TRICKS
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}


.ly-body-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: $black;
  overflow: hidden;
}

//QUICKNAV
nav.ly-quick-nav{
  background-color: $black;
  height: 32px;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 100%;
  z-index: 20;
  @media #{$sm}{
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$xl}{
    width: 1600px;
    left: calc(50vw - 800px);
  }
  a {
    @include flex-row-center;
    color: $white;
    @include zero-hard;
    height: 100%;
    font: {
      family: 'Lato', 'Arial', sans-serif;
      size: 12px;
      weight: 400;
    }
    text-decoration: none;
    @include animate;
    &:focus, &:hover, &:active {
      text-decoration: none;
      color: white;
    }
    &:visited {
      color: white;
      text-decoration: none;
    }
    i {
      font-size: 16px;
    }
    i.ly-location, i.ly-phone {
      margin-right: 5px;
    }
    i.ly-phone {
      margin-left: 10px;
      @media #{$sm}{
        margin-left: 20px;
      }
    }
    i.ly-cart {
      background-color: $white;
      margin-left: 5px;
      color: $black;
      width: 32px;
      height: 32px;
      @include flex-row-center;
    }
    @media #{$sm}{
      font-size: 0px;
    }
  }
  a.ly-link-store{
    text-transform: uppercase;
    &:focus, &:hover, &:active {
      text-decoration: none;
      color: white;
    }
  }
}

// MAINNAV
nav.ly-main-nav {
  @include zero-hard;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  top: 32px;
  left: 0;
  height: 48px;
  overflow: hidden;
  background: rgba($white, 0.25);
  box-sizing: border-box;
  width: 100%;
  z-index: 20;
  @media #{$sm}{
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$xl}{
    width: 1600px;
    left: calc(50vw - 800px);
  }
  i.ly-lyrics-logo {
    font-family: 'lyrics-font'!important;
    font-size: 180px;
    font-style: normal;
    color: $white;
    @media #{$md}{
      font-size: 165px;
    }
  }
  button.ly-button-mob {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: black;
    border: 0;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 20px;
    @include flex-col-center;
    display: none;
    @media #{$sm}{
      display: flex;
    }
    span {
      display: inline-block;
      width: 15px;
      height: 2px;
      background-color: white;
      margin-bottom: 3px;
      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
  > .flex.row.end {
    @include animate;
    @media #{$sm}{
      display: none;
      &.active {
        display: flex;
        position: fixed;
        top: 81px;
        background: black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0px;
      }
    }
  }
  a {
    padding-left: 20px;
    padding-right: 20px;
    font: {
      family: 'Saira Extra Condensed', 'Arial Narrow', 'Helvetica', sans-serif;
      size: 15px;
      weight: 300;
    }
    text: {
      transform: uppercase;
      decoration: none;
      align: center;
    }
    border-right: 1px solid rgba($white, 0.25);
    color: $white;
    position: relative;
    @include animate;
    @media #{$sm}{
      box-sizing: border-box;
      border: 0;
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 18px;
      text-align: center;
      border-bottom: 1px solid rgba($white, 0.25);
      width: 100%;
    }
    &:last-of-type{
      border-right: 0px;
      padding-right: 0px;
      @media #{$sm}{
        padding-right: 20px;
      }
    }
    &.active {
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -15px;
        left: 0px;
        background-color: $white;
        @media #{$sm}{
          bottom: 0px;
        }
      }
    }
  }
}

@mixin ly-common-bg {
  background: {
    image: url(../img/bg-red.jpg);
    size: cover;
    repeat: no-repeat;
    position: center;
  }
}

// HOME
section.ly-section-home {
  height: 630px;
  overflow: hidden;
  padding-top: 60px;
  box-sizing: border-box;
  position: relative;
  @media #{$sm}{
    height: 550px;
  }
  @include ly-common-bg;
  &:before {
    @include noise-bg;
  }
  &:after {
    position: absolute;
    right: 0px;
    bottom: 0px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 40px solid $black;
    border-left: 100vw solid transparent;
    @media #{$sm}{
      display: none;
    }
  }
  .ly-bg-triangle {
    width: 1200px;
    height: 1200px;
    transform: rotate(45deg);
    background-color: $black;
    position: absolute;
    right: -600px;
    top: -600px;
    @media #{$sm}{
      display: none;
    }
  }
  //FIXED TITLE
  h1.ly-home-h1 {
    font: {
      family: 'Lato', sans-serif!important;
      weight: 900!important;
    }
    text-transform: uppercase;
    position: absolute;
    color: $white;
    left: calc(50% - 175px);
    top: calc(50% - 80px);
    width: 350px;
    height: 100px;
    z-index: 10;
    .ly-container {
      position: relative;
      span {
        position: absolute;
        &:nth-of-type(1){
          font-size: 58px;
          top: 9px;
          left: 0px;
          @media #{$sm}{
            font-size: 42px;
            top: -20px;
            left: 40px;
          }
        }
        &:nth-of-type(2){
          font-size: 47px;
          top: 32px;
          left: -37px;
          @media #{$sm}{
            font-size: 32px;
            top: 20px;
            left: 40px;
          }
        }
        &:nth-of-type(3){
          font-size: 54px;
          top: 60px;
          right: 0px;
          @media #{$sm}{
            font-size: 35px;
            top: 20px;
            right: inherit;
            left: 70px;
          }
        }
      }
    }
  }
  // BANNER HOME
  ul.ly-banner-home {
    @include clean-list;
    @include zero-soft;
    @include clean-webkit;
    height: 100%;
    li.ly-banner-home-slide {
      height: 100%;
      &.ly-home-slide-00 {
        img {
          position: absolute;
          width: 100%;
          height: auto;
          top: -10%;
          left: 0px;
          @media #{$sm}{
            height: 100%;
            width: auto;
            bottom: 0px!important;
            top: inherit;
          }
          @media #{$md}{
            height: 100%;
            width: auto;
            bottom: 0px;
            top: inherit;
          }
        }
      }
      .ly-slide-caption {
        bottom: 60px;
        right: 0px;
        width: 350px;
        @media #{$sm}{
          left: 0px;
          bottom: 100px;
        }
        h2.ly-h2 {
          @include clean-webkit;
          padding-left: 50px!important;
          padding-right: 165px!important;
          @media #{$sm}{
            padding-left: 30px!important;
          }
          &:before {
            width: 40px;
            left: 0px;
            top: 18px;
            @media #{$sm}{
              width: 20px;
            }
          }
          &:after {
            content: '';
            width: 155px;
            right: 0px;
            top: 18px;
            @media #{$sm}{
              width: 85px;
              left: 174px;
            }
          }
        }
        p.ly-p-2 {
          padding-right: 80px!important;
          @media #{$sm}{
            padding-left: 30px!important;
            padding-right: 20px!important;
            max-width: 80%!important;
            box-sizing: border-box;
          }
        }
        a.ly-a-button {
          margin-left: 0px;
          @media #{$md}{
            margin-left: 20px;
          }
        }
      }
    }
  }
}

section.ly-articles-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  &:after {
    content:'';
    position: absolute;
    right: 0px;
    bottom: -40px;
    border-top: 40px solid rgba($black, 0.5);
    border-right: 100vw solid transparent;
    height: 0;
    width: 0px;
    z-index: 2;
    @media #{$sm}{
      bottom: -20px;
      right: 0px;
      border-top :20px solid rgba($black, 0.5);
    }
  }
  article.ly-article-home {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    h2 {
      @include zero-soft;
      @include clean-webkit;
      position: absolute;
      text: {
        align: right;
        transform: uppercase;
      }
      font: {
        family: 'Lato', sans-serif;
        size: 24px;
        weight: 900;
      }
      color: white;
      bottom: 20px;
      right: 20px;
      @media #{$sm}{
        font-size: 11px;
        text-align: left;
        left: 10px;
        top: 10px;
      }
    }
    &:before {
      content:'';
      position: absolute;
      right: 0px;
      bottom: 0px;
      border-bottom: 150px solid rgba($black, 0.5);
      border-left: 100px solid transparent;
      border-right: 0px solid transparent;
      height: 0;
      width: 100px;
      @media #{$sm}{
        top: 0px;
        border: 0px;
        width: 100%;
        left: 0px;
        height: 30px;
        background: rgba($black, 0.5);
      }
    }
    &:nth-of-type(1){
      background-image: url('./../img/article-home-00.jpg');
    }
    &:nth-of-type(2){
      background-image: url('./../img/article-home-01.jpg');
      background-position: center 30%;
    }
    &:nth-of-type(3){
      background-image: url('./../img/article-home-02.jpg');
      background-position: center 20%;
    }
  }
}

// GENERIC CAPTION
.ly-slide-caption {
  color: $white;
  position: absolute;
  width: 350px;
  h2.ly-h2 {
    @include clean-webkit;
    display: inline-block;
    font: {
      family: 'Saira Extra Condensed', 'Arial Narrow', 'Helvetica', sans-serif;
      size: 24px;
      weight: 300;
    }
    text-transform: uppercase;
    position: relative;
    &:before {
      content: '';
      height: 2px;
      position: absolute;
      left: 0px;
      top: 18px;
      background-color: $white;
      display: inline-block;
    }
    &:after {
      content: '';
      height: 2px;
      position: absolute;
      right: 0px;
      top: 18px;
      background-color: $white;
      display: inline-block;
    }
  }
  p.ly-p-2 {
    @include clean-webkit;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    font: {
      family: 'Saira Extra Condensed', 'Arial Narrow', 'Helvetica', sans-serif;
      size: 16px;
      weight: 300;
    }
    text-align: justify;
  }
  a.ly-a-button {
    border: 0;
    color: inherit;
    button {
      color: white;
      border-radius: 0px;
      border: 2px solid $color-1;
      background: transparent;
      cursor: pointer;
      text: {
        align: center;
        transform: uppercase;
      }
      padding: 5px 10px 5px 10px;
      letter-spacing: 1px;
      font: {
        family: 'Saira Extra Condensed', 'Arial Narrow', 'Helvetica', sans-serif;
        size: 18px;
        weight: 400;
      }
      @include animate;
      &:hover {
        background: rgba($white, 0.25);
      }
      &.ly-color-2 {
        border: 2px solid lighten($color-2, 20%);
      }
    }
  }
}

// SECTION 
section.ly-section {
  position: relative;
  // LEFT
  &.left {
    .ly-part-a-section {
      width: 100%;
      padding-bottom: 200px;
      .ly-img-logo-section, i {
        width: 80%;
        margin-top: 200px;
        margin-left: 80px;
        margin-bottom: 40px;
        position: relative;
      }
      .ly-slide-caption {
        left: 0px;
        bottom: 40px;
        h2.ly-h2 {
          padding-left: 90px!important;
        }
        p.ly-p-2 {
          padding-left: 90px!important;
        }
        a.ly-a-button {
          margin-left: 90px;
        }
      }
    }
    .ly-part-b-section {
      width: 100%;
      height: 100%;
      position: relative;
      img.ly-section-product-img {
        height: 400px;
        width: auto;
      }
    }
  }
  //RIGHT
  &.right {
    .ly-part-a-section {
      width: 100%;
      img.ly-section-product-img {
        left: calc(25% - 175px);
        width: auto;
        height: 500px;
        bottom: 0px;
        z-index: 2;
        position: absolute;
      }
    }
    .ly-part-b-section {
      width: 100%;
      height: 100%;
      position: relative;
      padding-bottom: 200px;
      .ly-img-logo-section, i {
        margin-top: 200px;
        margin-right: calc(50% - 100px);
        margin-bottom: 40px;
        position: relative;
        font-size: 200px;
        color: $white;
      }
      .ly-slide-caption {
        right: 0px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p.ly-p-2 {
          padding-right: 80px!important;
          text-align: right;
        }
        a.ly-a-button {
          margin-right: 80px;
        }
      }
    }
  }
  //DIAMOND
  &#diamond {
    background: {
      color: $black;
      position: center;
      repeat: no-repeat;
      size: cover;
      image: url(../img/bg-red.jpg);
    }
    &:before {
      @include noise-bg;
    }
    .ly-part-a-section {
      img {
        margin-left: -100%;
        opacity: 0px;
        @include move;
        &.active {
        margin-left: 80px;
        opacity: 1;
          @media #{$sm}{
            opacity: 1;
            width: 180px;
            margin-left: 20px;
            margin-top: 100px;
            margin-bottom: 40px;
          }
        }
      }
      .ly-slide-caption {
        @media #{$sm}{
          width: 180px;
        }
        h2.ly-h2 {
          padding-right: 133px!important;
          @media #{$sm}{
            padding-left: 20px!important;
            padding-right: 23px!important;
          }
          &:before {
            width: 80px;
            @media #{$sm}{
              width: 10px;
            }
          }
          &:after {
            width: 124px;
            right: 0px;
            @media #{$sm}{
              width: 20px;
              right: -7px;
            }
          }
        }
        a.ly-a-button {
          @media #{$sm}{
            margin-left: 20px;
          }
        }
        p.ly-p-2 {
          @media #{$sm}{
            padding-left: 20px!important;
          }
        }
      }
    }
    .ly-part-b-section {
      img.ly-section-product-img {
        position: absolute;
        height: 600px;
        top: -240px;
        z-index: 2;
        @include move;
        opacity: 0;
        right: -100%;
        @media #{$sm}{
          left: inherit!important;
          top: -150px;
          width: auto;
          height: 400px;
        }
        &.active {
          opacity: 1;
          right: calc(50% - 216px);
          @media #{$sm}{
            right: -60px!important;
          }
        }
      }
    }
    &:after {
      content:'';
      position: absolute;
      right: 0px;
      bottom: 0px;
      border-bottom: 40px solid $color-3;
      border-left: 100vw solid transparent;
      height: 0;
      width: 0px;
    }
  }
  //NEUMANN 
  &#neumann{
    background: {
      color: $color-2;
      position: center;
      repeat: no-repeat;
      size: cover;
      image: url(../img/musicboard-lyrics.jpg);
      blend-mode: screen;
    }
    margin-bottom: 40px;
    z-index: 1;
    @media #{$sm}{
      padding-bottom: 100px;
      margin-bottom: 20px;
    }
    #se-trigger {
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    &:before {
      @include noise-bg;
    }
    &:after {
      content:'';
      position: absolute;
      left: 0px;
      bottom: -40px;
      border-top: 40px solid $color-3;
      border-right: 100vw solid transparent;
      height: 0;
      width: 0px;
      @media #{$sm}{
        bottom: -20px;
        border-top: 20px solid $color-3;
      }
    }
    .ly-part-a-section {
      img.ly-section-product-img{
        opacity: 0!important;
        @include move;
        left: -100%;
        @media #{$sm}{
          height: 240px;
          bottom: -17px;
        }
        @media #{$md}{
          height: 400px;
          bottom: -40px;
        }
        &.active {
          opacity: 1!important;
          left: calc(25% - 175px);
          @media #{$sm}{
            left: 10px;
          }
        }
      }
    }
    .ly-part-b-section {
      i.ly-neumann {
        transform: scale(0);
        @include move;
        @media #{$sm}{
          margin-right: 20px;
          margin-top:100px;
          font-size: 126px;
          margin-bottom: 80px;
        }
        @media #{$md}{
          margin-top: 0px;
          padding-top: 200px;
          padding-bottom: 100px;
        }
        &.active {
          transform: scale(1);
        }
      }
      .ly-slide-caption {
        width: 430px;
        @media #{$sm}{
          width: 224px;
          right: 20px;
          bottom: 100px;
        }
        @media #{$md}{
          bottom: 200px;
        }
        h2.ly-h2 {
          padding-right: 80px!important;
          padding-left: 5px!important;
          @media #{$sm}{
            text-align: right;
            padding-right: 0px!important;
            padding-left: 5px!important;
          }
          &:before {
            width: 40px;
            left: -44px;
            @media #{$sm}{
              left: -18px;
            }
          }
          &:after {
            width: 70px;
            @media #{$sm}{
              width: 10px;
              right: -20px;
            }
          }
        }
        p.ly-p-2{
          max-width: 348px;
          @media #{$sm}{
            max-width: 200px;
            padding-right: 0px!important;
            text-align: right;
          }
        }
        a.ly-a-button {
          @media #{$sm}{
            margin-right: 0px;
          }
        }
      }
    }
  }
  //SE ELECTRONICS
  &#se-electronics {
    background: {
      color: $black;
      position: center;
      repeat: no-repeat;
      size: cover;
      image: url(../img/bg-black.jpg);
    }
    z-index: 1;
    #glyph-trigger {
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    &:before {
      @include noise-bg;
    }
    .ly-part-a-section {
      img.ly-img-logo-section {
        opacity: 0!important;
        @include move;
        margin-left: -100%;
        @media #{$sm}{
          margin-top: 305px;
          width: 200px;
          margin-left: calc(50vw - 90px);
          margin-bottom: 40px;
        }
        @media #{$md}{
          margin-bottom: 0px;
        }
        &.active {
          opacity: 1!important;
          margin-left: 80px;
          @media #{$sm}{
            margin-left: calc(50vw - 90px);
          }
        }
      }
      .ly-slide-caption {
        @media #{$sm}{
          width: 100%;
          left: 0px;
          bottom: 80px;
        }
        h2.ly-h2 {
          padding-right: 153px!important;
          @media #{$sm}{
            padding-right: 10px!important;
            padding-left: 10px!important;
            width: 100%;
            text-align: center;
          }
          &:before {
            width: 80px;
            @media #{$sm}{
              width: calc(50vw - 53px);
              left: 0px;
            }
          }
          &:after {
            width: 144px;
            @media #{$sm}{
              width: calc(50vw - 53px);
              right: 0px;
            }
          }
        }
        p.ly-p-2{
          @media #{$sm}{
            padding-left: 20px!important;
            padding-right: 20px!important;
          }
        }
        a.ly-a-button {
          @media #{$sm}{
            display: inline-block;
            margin-left: calc(50vw - 65px);
            margin-top: 10px!important;
          }
        }
      }
    }
    .ly-part-b-section {
      img.ly-section-product-img {
        position: absolute;
        height: 400px;
        left: calc(50% - 260px);
        top: -210px;
        z-index: 2;
        transform: scale(0);
        opacity: 0;
        @include move;
        @media #{$sm}{
          height: 200px;
          left: inherit;
          right: calc(50vw - 140px);
          top: -235px;
        }
        @media #{$md}{
          height: 280px;
          right: 0px;
          left: inherit;
        }
        &.active{
          transform:scale(1);
          opacity: 1;
        }
      }
    }
    &:after {
      display: none;
    }
  }
  //GLYPH
  &#glyph{
    margin-top: -40px;
    background: {
      color: $white;
      position: center;
      repeat: no-repeat;
      size: cover;
      image: url(../img/fog.jpg);
      blend-mode: multiply;
    }
    padding-top: 40px;
    .ly-part-a-section {
      img.ly-section-product-img {
        left: 154px;
        height: 600px;
        top: 80px;
        transform: rotate(90deg);
        opacity: 0!important;
        @include move;
        @media #{$sm}{
          height: 300px;
          left: 75px;
          top: 40px;
          bottom: 0px;
        }
        @media #{$md}{
          height: 500px;
          top: 260px;
          left: 129px;
        }
        &.active {
          opacity: 1!important;
        }
      }
    }
    .ly-part-b-section {
      img.ly-img-logo-section {
        width: 350px;
        margin-right: 80px;
        transform: scale(0);
        @include move;
        &.active {
          transform: scale(1);
        }
        @media #{$sm}{
          width: 200px;
          margin-right: calc(50vw - 100px);
          margin-top: 260px;
          margin-bottom: 40px;
        }
        @media #{$md}{
          margin-top: 100px;
          padding-bottom: 120px;
        }
      }
      .ly-slide-caption {
        width: 430px;
        color: $black;
        @media #{$sm}{
          width: 100vw;
          display: block;
          bottom: 90px;
          right: 0px;
        }
        @media #{$md}{
          bottom: 220px;
        }
        h2.ly-h2 {
          padding-right: 80px!important;
          padding-left: 53px!important;
          @media #{$sm}{
            padding-right: 20px!important;
            padding-left: 20px!important;
            box-sizing: border-box!important;
            text-align: center;
            display: block;
          }
          &:before {
            width: 44px;
            background-color: $black;
            @media #{$sm}{
              width: calc(50vw - 142px);
              left: 0px;
            }
          }
          &:after {
            width: 70px;
            background-color: $black;
            @media #{$sm}{
              width: calc(50vw - 142px);
              right: 0px;
            }
          }
        }
        p.ly-p-2 {
          @media #{$sm}{
            padding-right: 20px!important;
            padding-left: 20px!important;
            text-align: center;
          }
        }
        button.ly-color-2 {
          border: 2px solid $black;
          &:hover {
            border: 2px solid lighten(black, 10%);
          }
          @media #{$sm}{
            margin-right: 0px;
            margin-left: calc(50vw - 58px);
          }
        }
      }
    }
  }
  //OWC
  &#owc {
    background: {
      color: $white;
      position: center;
      repeat: no-repeat;
      size: cover;
      image: url(../img/fog-2.jpg);
      blend-mode: multiply;
    }
    min-height: 550px;
    max-height: 550px;
    .ly-part-a-section {
      @media #{$sm}{
        justify-content: flex-end;
      }
      img.ly-img-logo-section {
        width: 50%;
        margin-left: 80px;
        margin-top: 0px;
        transform: scale(0);
        @include move;
        &.active {
          transform: scale(1);
        }
        @media #{$sm}{
          width: 200px;
          margin-top: -250px;
          margin-left: calc(100vw - 240px);
        }
      }
      .ly-slide-caption {
        color: $black;
        bottom: 100px;
        @media #{$sm}{
          bottom: inherit;
          top: 100px;
          right: 0px;
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
        }
        @media #{$md}{
          bottom: 210px;
        }
        h2.ly-h2 {
          padding-right: 37px!important;
          padding-left: 90px!important;
          @media #{$sm}{
            padding-left: 20px!important;
            padding-right: 20px!important;
            display: block;
          }
          &:before {
            width: 80px;
            background-color: $black;
            @media #{$sm}{
              width: 50px;
              right: 250px;
              left: inherit;
            }
          }
          &:after {
            width: 155px;
            right: -125px;
            background-color: $black;
            @media #{$sm}{
              width: 10px;
              right: 0px;
            }
          }
        }
        P.ly-p-2 {
          width: 387px;
          padding-left: 90px!important;
          @media #{$sm}{
            padding-left: 0!important;
            width: 250px;
            text-align: right;
            padding-right: 20px!important;
          }
        }
        a.ly-a-button{
          @media #{$sm}{
            margin-left: 0px;
            margin-right: 20px;
          }
        }
        button {
          border: 2px solid $black!important;
          &:hover {
            border: 2px solid lighten(black, 10%)!important;
          }
        }
      }
    }
    .ly-part-b-section {
      img.ly-section-product-img {
        position: absolute;
        height: 500px;
        right: 55px;
        bottom: -290px;
        z-index: 2;
        transform: rotate(90deg) scale(0);
        @include move;

        @media #{$sm}{
          height: 300px;
          bottom: -268px;
          right: 0px;
        }
        @media #{$md}{
          height: 350px;
          right: 38px;
          bottom: -274px;
        }
        &.active {
          transform: rotate(90deg) scale(1);
        }
      }
    }
    &:after {
      display: none;
    }
  }
}

// SOCIAL

section#brands {
  padding-top: 120px;
  margin-top: -40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  height: 600px;
  max-height: 600px;
  min-height: 600px;
  @include ly-common-bg;
  position: relative;
  z-index: 0;
  @media #{$sm}{
    height: 500px;
    max-height: 500px;
    min-height: 500px;
  }
  &:before {
    content:'';
    position: absolute;
    right: 0px;
    top: 0px;
    border-top: 40px solid rgba($black, 0.5);
    border-right: 100vw solid transparent;
    height: 0;
    width: 0px;
    @media #{$sm}{
      border-top: 20px solid rgba($black, 0.5);
    }
  }
  &:after {
    @include noise-bg;
  }
  h3.ly-section-brands-h3 {
    @include clean-webkit;
    @include zero-hard;
    font: {
      family: 'Lato', 'Arial Black', sans-serif;
      weight: 900;
    }
    text-transform: uppercase;
    position: absolute;
    display: block;
    height: 150px;
    width: 350px;
    color: white;
    top: 80px;
    left: calc(50% - 175px)!important;
    @media #{$sm}{
      width: 300px;
      display: inline-block;
      left: calc(50vw - 153px)!important;
    }
    .ly-container {
      position: relative;
      height: 100%;
      span {
        position: absolute;
        &:nth-of-type(1) {
          font-size: 58px;
          text-align: center;
          top: 0px;
          left: 20px;
          @media #{$sm}{
            left: 30px;
            font-size: 48px;
            top: 0px;
          }
        }
        &:nth-of-type(2) {
          font-size: 32px;
          text-align: left;
          left: 0px;
          top: 55px;
          @media #{$sm}{
            top: 48px;
            left: 13px;
            font-size: 25px;
          }
        }
        &:nth-of-type(3) {
          font-size: 54px;
          text-align: left;
          right: 0px;
          bottom: 12px;
          @media #{$sm}{
            top: 68px;
            right: 4px;
            font-size: 49px;
          }
        }
      }
    }
  }
  // ROTATOR
  ul.ly-brands-rotator {
    @include clean-webkit;
    @include clean-list;
    @include zero-hard;
    width: 50%;
    position: relative;
    margin-top: 140px!important;
    @media #{$sm}{
      padding-left: 20px!important;
      padding-right: 20px!important;
      box-sizing: border-box;
    }
    @include flex-row-center;
    justify-content: flex-start;
    align-content: flex-start;
    width: 530px;
    overflow: hidden;
    @media #{$sm}{
      width: 265px;
      height: 136px;
      flex-wrap: wrap;
    }
    li.ly-slide-brand-rotator {
      width: 100%;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      transition: marginLeft, 500ms;
      &:first-of-type{
        margin-left: 0px;
      }
      a {
        display: inline-block;
        margin-right: 40px;
        color: $white;
        text-decoration: none;
        @include animate;
        @media #{$sm}{
          margin-right: 20px;
        }
        &:hover, &:focus, &:visited, &:active {
          color: $white;
          text-decoration: none;
          article.ly-brand-item {
            .ly-brand {
              margin-bottom: 30px;
            }
            h4.ly-brand-h4 {
              color: $white;
              text-decoration: none;
            }
          }
        }
        &:last-of-type {
          margin-right: 0px;
        }
        article.ly-brand-item {
          @include animate;
          .ly-brand {
            width: 150px;
            height: 150px;
            background: {
              color: $white;
              size: 60%;
              repeat: no-repeat;
              position: center;
            }
            border-radius: 100%;
            margin-bottom: 20px;
            @include animate;
            @media #{$sm}{
              margin-bottom: 0px;
              width: 75px;
              height: 75px;
            }
          }
          h4.ly-brand-h4 {
            font: {
              family: 'Saira Extra Condensed', 'Arial Narrow', 'Helvetica', sans-serif;
              size: 21px;
              weight: 300;
            }
            color: $white;
            text: {
              align: center;
              transform: capitalize;
              decoration: none;
            }
            @media #{$sm}{
              font-size: 16px;

            }
          }
        }
      }
    }
  }
  nav.ly-rotator-brand-controls {
    position: absolute;
    left: calc(50% - 65px);
    bottom: 30px;
    button.ly-rotator-brand-button{
      width: 30px;
      height: 30px;
      background: transparent;
      border: 0;
      border: 2px solid $color-1;
      cursor: pointer;
      @include animate;
      margin-right: 20px;
      &:last-of-type{
        margin-right: 0px;
      }
      &:hover, &.active {
        border: 2px solid lighten($color-1, 10%);
        background: rgba($white, 0.25);
      }
      @media #{$sm}{
        width: 28px;
        height: 28px;
      }
    }
  }
}

section#social {
  padding-top: 40px;
  padding-bottom: 120px;
  background: {
    image: url('../img/bg-black.jpg');
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  position: relative;
  @media #{$sm}{
    padding-top: 0px;
    padding-bottom: 40px;
  }
  &:before {
    content:'';
    position: absolute;
    right: 0px;
    top: 0px;
    border-top: 40px solid rgba($black, 0.5);
    border-right: 100vw solid transparent;
    height: 0;
    width: 0px;
    @media #{$sm}{
      display: none;
    }
  }
  &:after {
    @include noise-bg;
  }
  .ly-section-social-instagram {
    margin-top: 60px;
    width: 450px;
    @media #{$sm}{
      width: 300px;
    }
  }
}

footer#footer.ly-footer {
  background-color: lighten(black, 10%);
  padding: 20px 40px 25px 40px;
  @media #{$sm}{
    padding: 20px 10px 15px 20px;
  }
  .start {
    position: relative;
    i {
      color: $white;
      font-size: 200px;
      margin-top: -92px;
      margin-bottom: -117px;
      line-height: 0;
      @media #{$sm}{
        margin-bottom: -30px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: -70px;
      }
    }
    span {
      position: absolute;
      left: 0px;
      top: 31px;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 14px;
        weight: 400;
      }
      text: {
        align: left;
        transform: uppercase;
      }
      @media #{$sm}{
        width:100%;
        text-align: center;
        top: 50px;
      }
    }
  }
  .end {
    @media #{$sm}{
      flex-wrap: wrap;
      justify-content: center;
    }
    .row {
      a {
        color: $white;
        text-decoration: none;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        @include animate;
        &:visited, &:active {
          color: $white;
          text-decoration: none;
          i {
            color: $white;
          }
        }
        &:hover, &:focus{
          color: $color-1;
          text-decoration: none;
          i {
            color: $color-1;
          }
        }
        i {
          color: $white;
          font-size: 24px;
        }
        span {
          margin-left: 5px;
          display: inline-block;
          font: {
            family: 'Lato', sans-serif;
            size: 14px;
            weight: 400;
          }
          text: {
            align: right;
            transform: capitalize;
          }
        }
      }
      &:nth-of-type(4){
        @media #{$sm}{
          width: 100%;
          margin-top: 10px;
          justify-content: center;
        }
      }
    }
  }
}

//ANIMATION TRIGGERS

#diamond-trigger, #neumann-trigger, #se-trigger, #glyph-trigger{
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  z-index: 200;
}

#diamond-trigger{
  background-color: purple;
  top: -300px;
}

#neumann-trigger{
  background-color: skyblue;
  top: -240px;
}

#se-trigger{
  background-color: pink;
  top: -900px;
}


#glyph-trigger{
  background-color: greenyellow;
  top: -900px;
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
      background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
      background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}