$icomoon-font-path: "../fonts/lyrics-font" !default;

$ly-location: "\e900";
$ly-tel: "\e901";
$ly-logo-cl: "\e902";
$ly-lyricscl: "\e903";
$ly-lyrics: "\e904";
$ly-lyricslogo: "\e905";
$ly-cart: "\e906";
$ly-neumann: "\e907";
$ly-logo-macgarage: "\e908";
$ly-macgarage: "\e909";
$ly-macgarage-apple: "\e90a";
$ly-fb: "\e90b";
$ly-insta: "\e90c";

